@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    
}
body{
   
   
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    

}
header{
    background-color: #9a9fb9;
    top:0rem;
    position: sticky;
}
header h1{
    
    text-align: center;
    padding: 30px 60px;
    font-size: 5rem ;
    font-family: 'Rubik Vinyl', cursive;
    font-weight: 600;
    color: rgb(182, 81, 48);

 
}
main section{

border-radius: 5px;    
width: 80%;
height: 20%;
margin: auto;
display: flex;
gap: 1rem;
padding: 1.3rem;
margin-bottom: 4rem;
font-family: 'Patrick Hand', cursive;
background-color: rgba(255, 255, 255, 0.166);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: all 0.5s;
}
main section:hover{
    transform: scale(1.1);

}



main section div img{
    width: 216px;
    height: 330px;
    transition: all 2s;
    
}
main section div img:hover{
    width: 300px;
    height: 420px;
    transform: scale(0.96);
}


main section div h3{
    color: rgb(182, 81, 48);
    font-size: 1.8rem ;
    margin-bottom: 10px;
}

main section div p{
    color: rgb(107, 102, 102);
    font-size: 1.2rem;
    text-indent: 2rem;
  
}
main section div button{
    float: right;
    
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgb(182, 81, 48);
    color: white;
    border-radius: 5px;
    border: none;
    
    bottom: 1rem;
    right: 1rem;
    
}

main section div button:hover{
    transform: scale(1.2);
}
.icon i {
  position: fixed;
  right: 0.1rem;
  bottom: 0.1em;
  color: white;
}
@media screen and (max-width: 770px) {}
